#PriceList {
    table-layout: fixed;
}

#PriceList .selected, #PriceList .selected > td {
    background-color: #ddce0a;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

.cell-date { width: 100px; }
.cell-dz { width: 80px; }

.modal-body {
    margin-bottom: 0;
    border-bottom: none;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-radius: 0;
}

.select2-container--bootstrap .select2-selection--single {
    height: 39px;
    line-height: 25px;
    padding: 6px 24px 6px 12px;
    border-radius: 0;
}
