/*#RequestList th:nth-child(2) {
  min-width: 150px;
}

th.col-date {
  min-width:90px
}*/

#RequestList {
    table-layout: fixed;
}

#RequestList .selected {
    background-color: #ddce0a;
}

.dataTables_filter {
    display: none;
}

.dt-buttons.btn-group .btn {
    margin-right: 10px;
}

/*.cell-action {
  width: 140px;
  min-width: 140px;
}
.cell-date {
  width: 60px;
}
.cell-client {
  min-width: 60px;
  max-width: 140px;
}
.cell-address {
  min-width: 100px;
  max-width: 140px;
}
*/
.DTFC_LeftBodyWrapper {
    margin-top: -14px;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #ffffff;
}

.table-striped > tbody > tr:nth-of-type(even):hover {
    background-color: #f5f5f5;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

#RequestList2 th:nth-child(2) {
    /*min-width: 150px;*/
}

#RequestList2 td:nth-child(2) {
    text-align: center;
}

.request-approve .fa-check-square-o {
    color: green;
}

.request-approve .fa-square-o {
    color: red;
}

.request-approve .fa-ban {
    color: red;
}

.request-approve .fa.disabled {
    color: gray;
}

.disabled.request-unapproved.fa {
    color: gray;
}

.request-auto .fa-times {
    color: red;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-radius: 0;
}

.select2-container--bootstrap .select2-selection--single {
    height: 39px;
    line-height: 25px;
    padding: 6px 24px 6px 12px;
    border-radius: 0;
}

.cell-dz {display: none;}
