body > .container, body > .container-fluid { margin-top: 60px; }

div.dataTables_wrapper.dt-bootstrap .dataTables_paginate .paginate_button{padding:0;margin-left:0}
div.dataTables_wrapper.dt-bootstrap div.a.site-btn,div.dataTables_wrapper.dt-bootstrap button.site-btn,div.dataTables_wrapper.dt-bootstrap input.site-btn{margin-right:0;padding-top:0.5em;padding-bottom:0.5em}
div.dataTables_wrapper.dt-bootstrap th{/*background:none !important; */background-color: #eee;}

.btn-group .btn~.dropdown-toggle { padding-left: 8px; padding-right: 8px;}

hr.short {
  margin-top: 5px;
  margin-bottom: 5px;
}

.page-header {
    margin-top: 21px;
}
