#RequestList {
    table-layout: fixed;
}

#RequestList .selected, #RequestList .selected > td {
    background-color: #ddce0a;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

/*.cell-action {
  min-width: 120px;
}
.cell-date {
  min-width: 60px;
}
.cell-client {
  min-width: 200px;
}
.cell-address {
  min-width: 200px;
}*/
.modal-body {
    margin-bottom: 0;
    border-bottom: none;
}

.dataTables_filter {
    display: none;
}

.dt-buttons.btn-group .btn {
    margin-right: 10px;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-radius: 0;
}

.select2-container--bootstrap .select2-selection--single {
    height: 39px;
    line-height: 25px;
    padding: 6px 24px 6px 12px;
    border-radius: 0;
}