#PaymentReportForm li {
    list-style-type: none;
}

#PaymentReportForm label {
  display: inline-block;
  width: 80px;
  text-align: right;
}​

:read-only {
  background-color: red;
}

#PaymentsTable .selected, #PaymentsTable .selected > td {
    background-color: #ddce0a;
}