.modal-body {
    margin-bottom: 0;
    border-bottom: none;
}

#ReportsList {
    table-layout: fixed;
}

#ReportsList .selected, #ReportsList .selected > td {
    background-color: #ddce0a;
}

#ReportsTable tr:last-child {
    background-color: #66a066;
}

.dt-buttons.btn-group .btn {
    margin-right: 10px;
}

.dataTables_filter {
    display: none;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-radius: 0;
}

.select2-container--bootstrap .select2-selection--single {
    height: 39px;
    line-height: 25px;
    padding: 6px 24px 6px 12px;
    border-radius: 0;
}

.row-total {
    background: #F4FF77 !important;
}