#ScheduleTable {
    table-layout: fixed;
}

#ScheduleTable .selected, #ScheduleTable .selected > td {
    background-color: #ddce0a;
}

.dataTables_filter {
    display: none;
}

.dt-buttons.btn-group .btn {
    margin-right: 10px;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-radius: 0;
}

.select2-container--bootstrap .select2-selection--single {
    height: 39px;
    line-height: 25px;
    padding: 6px 24px 6px 12px;
    border-radius: 0;
}
