{% extends "TrackManager/layout.html" %}
{% load cust_tags %}

{% block title %}Не найдено{% endblock %}

{% block css %}
<link href="/static/tms/css/dispatcher.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
<h5>Вернуться на <a href="/tms/manager">главную</a></h5>
  <div class="page-header">
  </div>
  </div>
{% endblock %}
