{% extends "TrackManager/layout.html" %}
{% load cust_tags %}

{% block title %}Произошла ошибка{% endblock %}

{% block css %}
<link href="/static/tms/css/dispatcher.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="page-header">
    <h5>Вернуться на <a href="/tms/manager">главную</a></h5>
    <span>Произошла ошибка, внимательно повторите последнее действие, или обратитесь к администратору</span>
  </div>
  </div>
{% endblock %}
