{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}

{% block title %}Акты{% endblock %}

{% block css %}
<link href="{% static '/tms/css/acts.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="page-header">
    <h3>Акты</h3>
  </div>

  <div class="well well-sm">
      <div class="row">
          <div class="col col-md-2">
              <input type="text" class="form-control" id="date_range" title="Период"/>
          </div>
          <!--div class="col col-md-1">
                <a href="{% url 'report_sal' %}" class="btn btn-primary btn-sm" type="button" class="btn btn-primary">В Excel</a>
          </div-->
          <div class="col col-md-2">
            <select id="filter_client" title="Поиск по клиенту" class="form-control input-md">
                {% if clients|length > 1 %}
                    <option value="" selected>Клиент </option>
                {% endif %}        
                {% for c in clients %}
                    <option value="{{ c.id }}">{{ c.Name }}</option>
                {% endfor %}                
            </select>
        </div>
        <div class="col col-md-1">
          <div class="dropdown">
              <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1"
                      aria-haspopup="true" aria-expanded="true">
                  Статус
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
                  style="padding-left: 10px; padding-bottom: 10px;">

                  {% for b in bill_statuses %}
                      <li class="checkbox"><label>
                          {% if b.0 == 1 %}
                            <input type="checkbox" name="filter_status" value="{{b.0 }}">{{ b.1 }}</label>
                          {% else %}
                            <input type="checkbox" name="filter_status" value="{{b.0 }}" checked>{{ b.1 }} </label>
                          {% endif %}
                      </li>
                  {% endfor %}
                      <button class="btn btn-default btn-sm" type="button" id="filter_status_apply">
                          Применить
                      </button>
                  </li>
              </ul>
          </div>
        </div>
      </div>
  </div>

  <div class="">
    <table class="table table-bordered table-striped table-hover" id="ActTable">
      <thead>
        <tr>          
          <th>#</th>
          <th>Клиент</th>
          <th>Номер</th>          
          <th>Создан</th>          
          <th>Кол-во заявок</th>
          <th>Сумма</th>
          <th>С</th>
          <th>По</th>
          <th>Статус</th>               
          <th>Действие</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>


</div><!-- /.container -->
{% endblock %}

{% block js %}
<script src="{% static '/tms/js/acts.min.js' %}"></script>
{% endblock %}
