{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}
{% block title %}Отчет о приложении{% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="page-header">
            <h3>Отчет об использовании мобильного приложения</h3>
        </div>

        <div class="well well-sm">
      <div class="row">
          <div class="col col-md-2">
              <input type="text" class="form-control" id="date_range" title="Период"/>
          </div>
          <div class="col col-md-1">
              <select id="filter_dz" class="form-control table_filter" data-col_num="2"  title="Поиск по зоне диспетчеризации">
                  <option value="">Зона</option>
                  <option value="2">Клещиха</option>
                  <option value="1">Восток</option>
              </select>
          </div>
          <div class="col col-md-1">
              <select id="filter_version" class="form-control table_filter" data-col_num="4"  title="Поиск по версии приложения">
                  <option value="">Версия</option>
                  <option value="1.9">1.9</option>
                  <option value="1.8">1.8</option>
              </select>
          </div>
          <div class="col col-md-2">
                    <select id="filter_driver" title="Поиск по водителю" data-col_num="1" class="form-control table_filter input-md">
                        <option value="">Водитель</option>
                        {% for d in drivers %}
                            <option value="{{ d.id }}">{{ d|get_driver_name }}</option>
                        {% endfor %}
                    </select>
          </div>
      </div>
  </div>

        <div class="">
            <table class="table table-bordered table-striped table-hover" id="AppReportTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ФИО</th>
                        <th>Зона</th>
                        <th>Установлено</th>
                        <th>Версия</th>
                        <th>Всего заявок</th>
                        <th>Заявок с отчетом</th>
                        <th>Заявок с фото</th>
                        <th>Распознано всего</th>
                        <th>Распознано вручную</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


    </div>
{% endblock %}

{% block js %}
<script src="{% static '/tms/js/app_report.min.js' %}"></script>
{% endblock %}
