{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}
{% block title %}Тарифы{% endblock %}

{% block css %}
<link href="{% static '/tms/css/dispatcher.min.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_dispatcher %} active{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="page-header">
    <h3>Узнайте стоимость по прайс-листам</h3>
  </div>

<!-- <div class="row">
  <div class="form-group col-xs-2">
    <a href="/tms/get_report" type="button" class="btn btn-info">Рассчи по заявкам </a>
  </div>
</div> -->

<div class="form-group col-xs-2">
    <button data-toggle="modal" data-target="#Request" class="btn btn-info">Калькулятор</button>
  </div>

<div class="modal fade" id="Request" role="dialog" aria-labelledby="RequestModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="RequestModalLabel">Расчет заявки</h4>
            </div>
            <div class="modal-body well bs-component">
                <form id="RequestForm" action="/{{APP_NAME}}/calc_tariff_form/" method="POST">
                    <input type="hidden" name="Status" id="id_Status">
                    <!-- row -->
                    <div class="row">
                        <div class="form-group col-md-4">
                             <label class="control-label" for="id_Client">Клиент</label>
                            <select name="Client" class="form-control" id="id_Client">
                                {% for c in clients %}
                                <option value="{{ c.id }}">{{ c.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                             <label class="control-label" for="id_District">Район</label>
                            <select name="District" class="form-control"  id="id_District">
                                {% for d in city_directions %}
                                <option value="{{ d }}">{{ d }}</option>
                                {% endfor %}
                                 <option value="">-------</option>
                                {% for r in region_directions %}
                                <option value="{{ r }}">{{ r }}</option>
                                {% endfor %}
                                <option value="">-------</option>
                                {% for c in country_directions %}
                                <option value="{{ c }}">{{ c }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4" {% if is_client %} hidden {% endif %}>
                                <label class="control-label" for="id_driver">Водитель:</label>
                                <select name="driver" class="form-control driver-selector" data-other="#id_driver" id="id_driver">
                                <option value="1" selected="">Наш</option>
                                <option value="73">Частник</option>
                                <option value="75">Получастник</option>
                             </select>
                            </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ form.TerminalLoad|label_with_classes:"control-label" }}
                            {{ form.TerminalLoad|input_with_classes:"form-control terminal-selector" }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.TerminalDeliver|label_with_classes:"control-label" }}
                            {{ form.TerminalDeliver|input_with_classes:"form-control terminal-selector" }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.dz|add_classes }}
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="form-group col-md-3">
                             <label class="control-label" for="id_RaywayCr">Наличие переезда</label>
                            <select name="RaywayCr" class="form-control"  id="id_RaywayCr">
                                <option value="">Нет</option>
                                <option value="yes">Да</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                             <label class="control-label" for="id_RaywayCrDistrict">Район Переезда</label>
                            <select name="RaywayCrDistrict" class="form-control"  id="id_RaywayCrDistrict">
                                <option value="" selected>-------</option>
                                {% for d in city_directions %}
                                <option value="{{ d }}">{{ d }}</option>
                                {% endfor %}
                                 <option value="">-------</option>
                                {% for r in region_directions %}
                                <option value="{{ r }}">{{ r }}</option>
                                {% endfor %}
                                <option value="">-------</option>
                                {% for c in country_directions %}
                                <option value="{{ c }}">{{ c }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="form-group col-md-3">
                            {{ form.ExportDate|label_with_classes:"control-label" }}
                            <div class='input-group date' id='datepicker'>
                                {{ form.ExportDate|input_with_classes:"form-control" }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <input type="hidden" name="ExportTime" value="12:00:00" id="id_ExportTime">
                            <input type="hidden" name="Manager" value="1" id="id_Manager">
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.Operation|add_classes }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.Weight|add_classes }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.Foot|add_classes }}
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="form-group-header">{% if is_client %} Результаты расчета {% else %} Расчет для клиента {% endif %}</div>
                        <div class="form-group col-md-3">
                            {{ form.client_rate|add_classes }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.client_transfer|add_classes }}
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="id_client_weight_rate">весовой коэффициент</label>
                            <input type="number" name="client_weight_rate" value="0" step="any" class="form-control"
                                   id="id_client_weight_rate">
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.client_total|add_classes }}
                        </div>
                    </div>
                    <div class="row" {% if is_client %} hidden {% endif %}>

                        <div class="form-header">Расчет для водителя</div>
                        <div class="form-group col-md-3">
                            {{ form.salary_rate|add_classes }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.salary_transfer|add_classes }}
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="id_salary_weight_rate">весовой коэффициент</label>
                            <input type="number" name="salary_weight_rate" value="0" step="any" class="form-control"
                                   id="id_salary_weight_rate">
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.salary_total|add_classes }}
                        </div>
                    </div>
                    <div class="row">
                        <span id="error_message" style="color:red;"></span>
                    </div>

            <div class="modal-footer">
                <a type="button" class="btn btn-default price_link"
                   href="/{{APP_NAME}}/download-client-price?dz_id=1">Прайс Восток</a>
                <a type="button" class="btn btn-default price_link"
                   href="/{{APP_NAME}}/download-client-price?dz_id=2">Прайс Клещиха</a>
                <button type="submit" class="btn btn-primary" > Рассчитать</button>
            </div>
                </form>
            </div>
            
        </div>
    </div>
  </div>

  

  

<!--<form id="check_tariff" action="/tms/check_tariff/" method="POST">-->
    <!--<div class="row">-->
      <!--<div class="form-group col-xs-4">-->
        <!--<input type="text" placeholder="Введите номер заявки" class="form-control" name="number">-->
      <!--</div>-->
      <!--<div class="form-group col-xs-2">-->
        <!--<button type="submit" class="btn btn-success">Рассчитать</button>-->
      <!--</div>-->
      <!--</div>-->
  <!--</form>-->

<!--<div class="row">-->
      <!--<div class="form-group col-xs-4">-->

        <!--<table class="table table-striped">-->
          <!--<tbody>-->

          <!--</tbody>-->
      <!--</table>-->
      <!--</div>-->
    <!--</div>-->
<!--</div>&lt;!&ndash; /.container &ndash;&gt;-->


{% endblock %}

{% block js %}
<script> var client_id = {{ init_client_id }}; </script>
<script src="{% static '/tms/js/tariff_check.min.js' %}"></script>
{% endblock %}
