{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}
{% block title %}Загрузка клиентских прайсов{% endblock %}

{% block css %}
    <link href="{% static '/tms/css/client-price.min.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_manager %} active{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="page-header">
            <h3>Загрузка клиентских прайсов
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ClientPrice"
                        data-mode="new">Загрузить прайс
                </button>
            </h3>
        </div>

        <div class="" style="width:800px;">
            <table class="table table-bordered table-striped table-hover" id="PriceList">
                <thead>
                    <tr>
                        <th class="cell-client">Клиент</th>
                        <th class="cell-date">Дата</th>
                        <th class="cell-dz">Восток</th>
                        <th class="cell-dz">Клещиха</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prices %}
                    <tr>
                        <td>{{ p.client_Name }}</td>
                        <td>{{ p.dateFrom |date:"Y-m-d"}}</td>
                        <td><a target="_blank" href="/tms/download-client-price?client_id={{ p.client_id }}&dz_id={{ p.dz_id_min }}&dateFrom={{ p.dateFrom |date:"Y-m-d"}}">Скачать</a></td>
                        <td><a target="_blank" href="/tms/download-client-price?client_id={{ p.client_id }}&dz_id={{ p.dz_id_max }}&dateFrom={{ p.dateFrom |date:"Y-m-d"}}">Скачать</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Клиент</td>
                        <td>Дата</td>
                        <td>Восток</td>
                        <td>Клещиха</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Архив
        </button>
        <div class="collapse" id="collapseExample">
          <div class="" style="width:800px;">
            <table class="table table-bordered table-striped table-hover" id="PriceListArc">
                <thead>
                    <tr>
                        <th class="cell-client">Клиент</th>
                        <th class="cell-date">Дата</th>
                        <th class="cell-dz">Восток</th>
                        <th class="cell-dz">Клещиха</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prices_arc %}
                    <tr>
                        <td>{{ p.client_Name }}</td>
                        <td>{{ p.dateFrom |date:"Y-m-d"}}</td>
                        <td><a target="_blank" href="/tms/download-client-price?client_id={{ p.client_id }}&dz_id={{ p.dz_id_min }}&dateFrom={{ p.dateFrom |date:"Y-m-d"}}">Скачать</a></td>
                        <td><a target="_blank" href="/tms/download-client-price?client_id={{ p.client_id }}&dz_id={{ p.dz_id_max }}&dateFrom={{ p.dateFrom |date:"Y-m-d"}}">Скачать</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Клиент</td>
                        <td>Дата</td>
                        <td>Восток</td>
                        <td>Клещиха</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        </div>

                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1"
                aria-expanded="false" aria-controls="collapseExample">
            Архив не действующих
        </button>
        <div class="collapse" id="collapseExample1">
          <div class="" style="width:800px;">
            <table class="table table-bordered table-striped table-hover" id="PriceListArcInActive">
                <thead>
                    <tr>
                        <th class="cell-client">Клиент</th>
                        <th class="cell-date">Дата</th>
                        <th class="cell-dz">Восток</th>
                        <th class="cell-dz">Клещиха</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prices_na %}
                    <tr>
                        <td>{{ p.client_Name }}</td>
                        <td>{{ p.dateFrom |date:"Y-m-d"}}</td>
                        <td><a target="_blank" href="/tms/download-client-price?client_id={{ p.client_id }}&dz_id={{ p.dz_id_min }}&dateFrom={{ p.dateFrom |date:"Y-m-d"}}">Скачать</a></td>
                        <td><a target="_blank" href="/tms/download-client-price?client_id={{ p.client_id }}&dz_id={{ p.dz_id_max }}&dateFrom={{ p.dateFrom |date:"Y-m-d"}}">Скачать</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Клиент</td>
                        <td>Дата</td>
                        <td>Восток</td>
                        <td>Клещиха</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        </div>


        <div class="modal fade" id="ClientPrice" role="dialog" aria-labelledby="ClientPriceModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="ClientPriceModalLabel">Загрузка прайса</h4>
                    </div>
                    <div class="modal-body well bs-component">
                        <form id="ClientPriceForm" enctype="multipart/form-data" method="post">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form.client|add_classes }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form.date_from|label_with_classes:"control-label" }}
                                    <div class='input-group date' id='datepicker'>
                                        {{ form.date_from|input_with_classes:"form-control" }}
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                      {{ form.dz|add_classes }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                      {{ form.price|add_classes }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnSave">Загрузить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.container -->

{% endblock %}

{% block js %}
    <script src="{% static '/tms/js/client-price.min.js' %}"></script>
{% endblock %}
