{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}
{% block title %}Нет доступа{% endblock %}

{% block css %}
<link href="{% static '/tms/css/dispatcher.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
<h5>Нет доступа на данный раздел</h5>
  <div class="page-header">
  </div>
  </div>
{% endblock %}
