{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}
{% block title %}Обработка заявок{% endblock %}

{% block css %}
    <link href="{% static '/tms/css/dispatcher.min.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_dispatcher %} active{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="page-header">
            <h3>Обработка заявок</h3>
        </div>

        <div class="well well-sm">
            <div class="row">
                <div class="col col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1"
                                aria-haspopup="true" aria-expanded="true">
                            Статус
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
                            style="padding-left: 10px; padding-bottom: 10px;">
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="1">Заготовка</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="2" checked>На
                                согласовании</label></li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="3" checked>Согласовано</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="4" checked>Выполняется</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="5" checked>Завершено</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="6" checked>Отказ</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="7" checked>Отмена</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="8" checked>Сдан</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="9" checked>Проверено</label>
                            </li>
                            <li>
                                <button class="btn btn-default btn-sm" type="button" id="filter_status_apply">
                                    Применить
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-2">
                    <input type="text" class="form-control" id="date_range" title="Период"/>
                </div>
                <div class="col col-md-1">
                    <button class="btn btn-default btn-sm" type="button" id="btn_refresh">
                        <i class="fa fa-refresh"></i> Обновить
                    </button>
                </div>
                <div class="col col-md-2">
                    <select id="filter_client" title="Поиск по клиенту" class="form-control input-md">
                        <option value="">Клиент</option>
                        {% for c in clients %}
                        <option value="{{ c.id }}">{{ c.Name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col col-md-1">
                    <select id="filter_foot" class="form-control" title=""><option value="">Фут</option><option value="20">20</option><option value="40">40</option></select>
                </div>
                <div class="col col-md-1">
                    <select id="filter_dz" class="form-control" title="Поиск по зоне диспетчеризации">
                        <option value="">Зона</option>
                        <option value="2">Клещиха</option>
                        <option value="1">Восток</option>
                    </select>
                </div>
                <div class="col col-md-1">
                      <a href="{% url 'tn' %}?full=0" class="btn btn-default btn-sm report_button" disabled data-url="{% url 'tn' %}" type="button" id="tn_save">Накладная</a>
                </div>
                {% if APP_NAME == 'tms' %}
                <div class="col col-md-1">
                        <a href="{% url 'tn' %}?full=1" class="btn btn-default btn-sm report_button" disabled data-url="{% url 'tn' %}" type="button" id="tn2_save">Накладная CибКонт</a>
                  </div>
                {% endif %}
                  <div class="col col-md-1">
                        <a href="{% url 'pl' %}?road_list=1" class="btn btn-default btn-sm report_button" disabled data-url="{% url 'pl' %}" type="button" id="pl_save">Путевой Лист</a>
                  </div>
            </div>
        </div>

        <div class="">
            <table class="table table-bordered table-striped table-hover tms_dt" id="RequestList">
                <thead>
                    <tr>
                        <th class="cell-row_num">#</th>
                        <th class="cell-number">№</th>
                        <th class="cell-action">Действие</th>
                        <th class="cell-status">Статус груза</th>
                        <th class="cell-date">Подача машины</th>
                        <th class="cell-client">Клиент</th>
                        <th class="cell-customer">Грузополучатель</th>
                        <th class="cell-foot">Фут</th>
                        <th class="cell-container">Контейнер</th>
                        <th class="cell-recognized_container_num">Контейнер факт</th>
                        <th class="cell-weight">Вес</th>
                        <th class="cell-operation">Опер.</th>
                        <th class="cell-proxy">Доверенность</th>
                        <th class="cell-terminalload">Забор</th>
                        <th class="cell-address">Адрес</th>
                        <th class="cell-district">Район</th>
                        <th class="cell-RaywayCr1">Переезд</th>
                        <!--<th class="cell-RaywayCr2">Переезд2</th>-->
                        <th class="cell-terminaldeliver">Сдача</th>
                        <th class="cell-responsible">Ответственный, телефон</th>
                        <th class="cell-status">Статус</th>
                        <th class="cell-truck">Машина</th>
                        <th class="cell-trailer">Прицеп</th>
                        <th class="cell-driver">Водитель</th>
                        <th class="cell-dispatch_date">Отправлено диспетчеру</th>
                        <th class="cell-approve">Принято диспетчером</th>
                        <th class="cell-decline_date">Время отказа</th>
                        <th class="cell-correction_date">Время коррект.</th>
                        <th class="cell-auto_visit_take_plan">Автовизит забор</th>
                        <th class="cell-auto_visit_return_plan">Автовизит сдача</th>
                        <th class="cell-comment">Примечание</th>
                        <th class="cell-dz"></th>
                        <th class="cell-destination_station">Станция назначения</th>
                        <th class="cell-cargo_manager">Менеджер</th>
                        <th class="cell-dispatcher_comment">Комментарий диспетчера</th>
                        <th class="cell-attachments">Документы</th>
                        <th class="cell-attachments_client">Документы клиента</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="cell-row_num">#</th>
                        <th class="cell-number">№</th>
                        <th class="cell-action">Действие</th>
                        <th class="cell-status">Статус груза</th>
                        <th class="cell-date">Подача машины</th>
                        <th class="cell-client">Клиент</th>
                        <th class="cell-customer">Грузополучатель</th>
                        <th class="cell-foot">Фут</th>
                        <th class="cell-container">Контейнер</th>
                        <th class="cell-recognized_container_num">Контейнер факт</th>
                        <th class="cell-weight">Вес</th>
                        <th class="cell-operation">Опер.</th>
                        <th class="cell-proxy">Доверенность</th>
                        <th class="cell-terminalload">Забор</th>
                        <th class="cell-address">Адрес</th>
                        <th class="cell-district">Район</th>
                        <th class="cell-RaywayCr1">Переезд</th>
                        <!--<th class="cell-RaywayCr2">Переезд2</th>-->
                        <th class="cell-terminaldeliver">Сдача</th>
                        <th class="cell-responsible">Ответственный, телефон</th>
                        <th class="cell-status">Статус</th>
                        <th class="cell-truck">Машина</th>
                        <th class="cell-trailer">Прицеп</th>
                        <th class="cell-driver">Водитель</th>
                        <th class="cell-dispatch_date">Отправлено диспетчеру</th>
                        <th class="cell-approve">Принято диспетчером</th>
                        <th class="cell-decline_date">Время отказа</th>
                        <th class="cell-correction_date">Время коррект.</th>
                        <th class="cell-auto_visit_take_plan">Автовизит забор</th>
                        <th class="cell-auto_visit_return_plan">Автовизит сдача</th>
                        <th class="cell-comment">Примечание</th>
                        <th class="cell-dz"></th>
                        <th class="cell-destination_station">Станция назначения</th>
                        <th class="cell-cargo_manager">Менеджер</th>
                        <th class="cell-dispatcher_comment">Комментарий диспетчера</th>
                        <th class="cell-attachments">Документы</th>
                        <th class="cell-attachments_client">Документы клиента</th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="modal fade" id="RequestUnapprove" tabindex="-1" role="dialog"
             aria-labelledby="RequestUnapproveModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="RequestUnapproveModalLabel">Отмена согласования</h4>
                    </div>
                    <div class="modal-body">
                        <form id="RequestUnapproveForm">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="unapprove_reason" class="control-label">Укажите причину отмены
                                        согласования</label>
                                    <input type="text" class="form-control" id="unapprove_reason">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="RequestUnapproveBtnSave">Отменить
                            согласование
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="RequestDeny" tabindex="-1" role="dialog" aria-labelledby="RequestDenyModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="RequestDenyModalLabel">Отказ</h4>
                    </div>
                    <div class="modal-body">
                        <form id="RequestDenyForm">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="deny_reason" class="control-label">Укажите причину отказа</label>
                                    <input type="text" class="form-control" id="deny_reason">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="RequestDenyBtnSave">Отказать</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="RequestAssignAuto" role="dialog"
             aria-labelledby="RequestAssignAutoModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="RequestAssignAutoModalLabel">Назначение авто</h4>
                    </div>
                    <div class="modal-body">
                        <form id="RequestAssignAutoForm">
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label for="track" class="control-label">Автомобиль</label>
                                    <select class="form-control terminal-selector" id="track">
                                        <option>-- Выбрать</option>
                                        {% for trailer in trailers %}
                                            <option value="{{ trailer.car_id }}_{{ trailer.id }}"
                                                    data-truck="{{ trailer.car.number }}"
                                                    data-trailer="{{ trailer.number }}"
                                                    data-driver="{{ trailer.car.driver_id }}">
                                                {{ trailer.car }} ( {{ trailer }} )
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="driver" class="control-label">Водитель</label>
                                    <select class="form-control terminal-selector" id="driver">
                                        <option>-- Выбрать</option>
                                        {% for driver in drivers %}
                                            <option value="{{ driver.id }}">{{ driver.FIO }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-5">
                                        <label class="control-label" for="id_auto_visit_take_plan">Автовизит забор:</label>
                                        <div class='input-group date timepicker'>
                                            <input type="text" name="auto_visit_take_plan" class="form-control" required="" id="id_auto_visit_take_plan">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                        </div>
                                    </div>
                                <div class="form-group col-md-5">
                                            <label class="control-label" for="id_auto_visit_return_plan">Автовизит сдача:</label>
                                            <div class='input-group date timepicker'>
                                                <input type="text" name="auto_visit_return_plan" class="form-control" required="" id="id_auto_visit_return_plan">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </span>
                                            </div>
                                </div>    
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div id="assign_error" style="color:red;text-align:left; padding-left:6px"></div>
                        <button type="button" class="btn btn-primary" id="RequestAssignAutoBtnSave">Назначить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="RequestAutoVisit" role="dialog"
        aria-labelledby="RequestAutoVisitModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="RequestAutoVisitModalLabel">Автовизит</h4>
                    </div>
                    <div class="modal-body">
                        <form id="RequestAutoVisitForm">
                            <div class="row"> 
                                <div class="form-group col-md-5">
                                        <label class="control-label" for="id_auto_visit_take_plan">Автовизит забор:</label>
                                        <div class='input-group date timepicker'>
                                            <input type="text" name="auto_visit_take_plan" class="form-control" required="" id="id_auto_visit_take_plan1">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                        </div>
                                    </div>
                                <div class="form-group col-md-5">
                                            <label class="control-label" for="id_auto_visit_return_plan">Автовизит сдача:</label>
                                            <div class='input-group date timepicker'>
                                                <input type="text" name="auto_visit_return_plan" class="form-control" required="" id="id_auto_visit_return_plan1">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </span>
                                            </div>
                                </div>    
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="RequestAutoVisitBtnSave">Назначить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="modal fade" id="RequestUnassignAuto" tabindex="-1" role="dialog"
             aria-labelledby="RequestUnassignAutoModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="RequestUnassignAutoModalLabel">Снятие авто</h4>
                    </div>
                    <div class="modal-body">
                        <form id="RequestUnassignAutoForm">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="unassign_reason" class="control-label">Укажите причину снятия</label>
                                    <input type="text" class="form-control" id="unassign_reason">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" id="RequestUnassignAutoBtnSave">Снять авто
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="CommentEditModal" tabindex="-1" role="dialog"
             aria-labelledby="CommentEditModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="DispComment">
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea id="disp_comment_input" class="form-control" rows="3" placeholder="Комментарий диспетчера"
                                                      name="dispatcher_comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" id="DispCommentBtnSave">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- /.container -->


   <div class="modal fade auto_visit_modal" id="AutoVisitEdit" tabindex="-1" role="dialog" aria-labelledby="AutoVisitEditModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="AutoVisitEditModalLabel">Автовизит Забор</h4>
                        </div>
                        <div class="modal-body">
                            <form id="AutoVisitEditForm">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="auto_visit_take_num" class="control-label">Номер</label>
                                        <input type="text" class="form-control" id='auto_visit_take_num' name="auto_visit_take_num">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="auto_visit_take_fact" class="control-label">Фактическое время</label>
                                        <div class="input-group timepicker">
                                                <input type="text" class="form-control timepicker" id='auto_visit_take_fact' name="auto_visit_take_fact">
                                                <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <hr class='long'></hr>
                                <h4 class="modal-title" id="AutoVisitEditModalLabel">Автовизит Cдача</h4>
                                <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="auto_visit_return_num" class="control-label">Номер</label>
                                            <input type="text" class="form-control" id='auto_visit_return_num' name="auto_visit_return_num">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="auto_visit_return_fact" class="control-label">Фактическое время</label>
                                            <div class="input-group timepicker">
                                                <input type="text" class="form-control" id='auto_visit_return_fact' name="auto_visit_return_fact">
                                                <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAutoVisitSave">Сохранить</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
           </div>


        <div class="modal fade" id="AppStatusHistory" role="dialog" aria-labelledby="AppStatusHistoryLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Закрыть</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}
    <script src="{% static '/tms/js/dataTableSettings.min.js' %}"></script>
    <script src="{% static '/tms/js/common.min.js' %}"></script>
    <script src="{% static '/tms/js/attachments.min.js' %}"></script>
    <script src="{% static '/tms/js/dispatcher-requests.min.js' %}"></script>
{% endblock %}
