{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}
{% block title %}Загрузка водительских прайсов{% endblock %}

{% block css %}
    <link href="{% static '/tms/css/driver-price.min.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_manager %} active{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="page-header">
            <h3>Загрузка водительских прайсов
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#driverPrice"
                        data-mode="new">Загрузить прайс
                </button>
            </h3>
        </div>

        <div class="" style="width:800px;">
            <table class="table table-bordered table-striped table-hover" id="PriceList">
                <thead>
                    <tr>
                        <th class="cell-driver">Категория</th>
                        <th class="cell-date">Дата</th>
                        <th class="cell-dz">Восток</th>
                        <th class="cell-dz">Клещиха</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prices %}
                    <tr>
                        <td>{{ p.driver_type }}</td>
                        <td>{{ p.dateFrom |date:"Y-m-d"}}</td>
                        <td><a target="_blank" href="/tms/download-driver-price?driver_type={{ p.dt }}&dz_id={{ p.dz_id_min }}&dateFrom={{ p.dateFrom |date:"Y-m-d"}}">Скачать</a></td>
                        <td><a target="_blank" href="/tms/download-driver-price?driver_type={{ p.dt }}&dz_id={{ p.dz_id_max }}&dateFrom={{ p.dateFrom |date:"Y-m-d"}}">Скачать</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Категория</td>
                        <td>Дата</td>
                        <td>Восток</td>
                        <td>Клещиха</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <!-- collapse block -->
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">Архив
        </button>
        <div class="collapse" id="collapseExample">
          <div class="" style="width:800px;">
            <table class="table table-bordered table-striped table-hover" id="PriceListArc">
                <thead>
                    <tr>
                        <th class="cell-driver">Категория</th>
                        <th class="cell-date">Дата</th>
                        <th class="cell-dz">Восток</th>
                        <th class="cell-dz">Клещиха</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prices_arc %}
                    <tr>
                        <td>{{ p.driver_type }}</td>
                        <td>{{ p.dateFrom |date:"Y-m-d"}}</td>
                        <td><a target="_blank" href="/tms/download-driver-price?driver_type={{ p.dt }}&dz_id={{ p.dz_id_min }}&dateFrom={{ p.dateFrom |date:"Y-m-d"}}">Скачать</a></td>
                        <td><a target="_blank" href="/tms/download-driver-price?driver_type={{ p.dt }}&dz_id={{ p.dz_id_max }}&dateFrom={{ p.dateFrom |date:"Y-m-d"}}">Скачать</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Категория</td>
                        <td>Дата</td>
                        <td>Восток</td>
                        <td>Клещиха</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        </div>
        <!-- end collapse div -->

        <div class="modal fade" id="driverPrice" role="dialog" aria-labelledby="driverPriceModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="driverPriceModalLabel">Загрузка прайса</h4>
                    </div>
                    <div class="modal-body well bs-component">
                        <form id="driverPriceForm" enctype="multipart/form-data" method="post">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form.driver_type|add_classes }}
                                </div>
                            </div>
                            <div class="row">
                                 <div class="form-group col-md-12">
                                     <label class="control-label" for="id_driver_select">Персональный прайс</label>
                                     <select name="driver" class="form-control" required="" id="id_driver_select" disabled>
                                        <option value="" selected="">---------</option>
                                         {% for d in drivers %}
                                            <option value="{{ d.id }}"> {{d.FIO}}</option>
                                         {% endfor %}
                                    </select>
                                 </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form.date_from|label_with_classes:"control-label" }}
                                    <div class='input-group date' id='datepicker'>
                                        {{ form.date_from|input_with_classes:"form-control" }}
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                      {{ form.dz|add_classes }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                      {{ form.price|add_classes }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnSave">Загрузить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.container -->

{% endblock %}

{% block js %}
    <script src="{% static '/tms/js/driver-price.min.js' %}"></script>
{% endblock %}
