<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Статус</th>
            <th>Время</th>
            <th>Длительность</th>
        </tr>
    </thead>
    <tbody>
    {% for act in actions %}
        <tr>
             <td>{{ act.status }}</td>
             <td>{{ act.action_date }}<br>{{ act.action_time }}</td>
             <td>{{ act.duration }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
