{% extends "TrackManager/layout.html" %}
{% load cust_tags %}

{% block title %}Справка{% endblock %}

{% block css %}
<link href="/static/tms/css/dispatcher.min.css" rel="stylesheet">
{% endblock %}

{% block nav_dispatcher %} active{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="page-header">
    <h3>Справка</h3>
  </div>

<div class="row">
  <div class="form-group col-xs-2">
    <a href="/tms/get_report" type="button" class="btn btn-primary">Отчет по заявкам </a>
  </div>
</div>
<!--form action="/tms/get_history/" method="POST">
    <div class="row">
      <div class="form-group col-xs-2">
        <input type="text" placeholder="Введите номер заявки" class="form-control" name="number">
      </div>
      <div class="form-group col-xs-2">
        <button type="submit" class="btn btn-primary">Просмотр истории</button>
      </div>
      </div>
    </div>
  </form-->

    <table class="table table-striped">
  {% for i in hist %}
  <tr>
        {% for k, v in i.items %}
        <td> {{ v }} <td>
        {%endfor%}
  <tr>
  {%endfor%}
  </table>

</div><!-- /.container -->

{% endblock %}

{% block js %}
{% endblock %}
