{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/tms/css/vendor.min.css' %}" rel="stylesheet">
    <link href="{% static '/tms/css/main.min.css' %}" rel="stylesheet">
    <style>
        .container { min-width: 1300px; }
    </style>
    <!-- Custom styles for this template -->
    {% block css %} {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


    <![endif]-->
      <script> var app_name = '{{ APP_NAME|default:"tms" }}';</script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'manager' %}">{{ APP_TITLE|default_if_none:"АВТО ВЛ"}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {% for k,value in menu_items.items %}

                 {% if k == 'reports_page' %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Отчеты <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "reports_page" %}">Отчеты</a></li>
                        <li><a href="{% url "app_report" %}">Отчет по моб. приложению</a></li>
                    </ul>
                  </li>

                {% elif k == 'client-price' %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Прайсы <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "client-price" %}">Прайсы клиентов</a></li>
                        <li><a href="{% url "driver-price" %}">Прайсы водителей</a></li>
                        <li><a href="{% url "tariff_check" %}">Калькулятор</a></li>
                    </ul>
                  </li>
                  {% else %}
                    <li><a href="{% url k %}">{{ value }}</a></li>
                  {% endif %}
                {% endfor %}
            </ul>
            <p class="navbar-text navbar-right">{{ request.user.first_name }} {{ request.user.last_name }}<a href="{% url "logout" %}">
                <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i></a>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block content %} {% endblock %}


    <!-- Модальные окна для работы с вложениями -->
  <div class="modal fade" id="AttachModal" tabindex="-1" role="dialog"
             aria-labelledby="AttachModalLabel">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="AttachForm" action="{% url 'save_order_doc' %}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="current_user" class="form-control" type="hidden" value="{{request.user.pk}}">
                                            <input id="order_pk" class="form-control" name="pk" type="hidden">
                                            <input id="filename_input" class="form-control" type="text" name="filename" placeholder="Название документа">
                                            <input id="attachments_input" class="form-control" type="file" placeholder="Вложение"
                                                      name="attachments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" id="attachmentsBtnSave">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>

  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="imagemodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span></button>
          <img class="imagepreview attached_preview" style="width: 100%; display: none;" >
          <h5 class="alert attached_preview" style="display: none;">
               Предпросмотр доступен только для изображений.
               Скачайте докумет для просмотра
          </h5>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="ConfirmAction" tabindex="-1" role="dialog" aria-labelledby="ConfirmActionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      	<span>Подтвердите действие</span>
      </div>
        <form id="DeleteDocForm">
                <input id="dd_order_id" type="hidden">
                <input id="dd_filename" type="hidden">
          </form>
         <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
             <button type="button" class="btn btn-danger" id="ConfirmBtn">Да, удалить</button>
         </div>
    </div>
  </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static '/tms/js/vendor.min.js' %}"></script>
    {% block js %} {% endblock %}
  </body>
</html>
