{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}
{% block title %}Справка{% endblock %}

{% block css %}
    <link href="{% static '/tms/css/kladr.min.css' %}" rel="stylesheet">
    <link href="{% static '/tms/css/manager-calc.min.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_manager %} active{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="page-header">
            <h3>Справка</h3>
        </div>

        <div class="well well-sm">
            <div class="row">
                <div class="col col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1"
                                aria-haspopup="true" aria-expanded="true">
                            Статус
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
                            style="padding-left: 10px; padding-bottom: 10px;">
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="4" checked>Выполняется</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="5" checked>Завершено</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="8" checked>Сдан</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="9" checked>Проверено</label>
                            </li>
                            <li>
                                <button class="btn btn-default btn-sm" type="button" id="filter_status_apply">
                                    Применить
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-2">
                    <input type="text" class="form-control" id="date_range" title="Период"/>
                </div>
                <div class="col col-md-1">
                    <button class="btn btn-default btn-sm" type="button" id="btn_refresh">
                        <i class="fa fa-refresh"></i> Обновить
                    </button>
                </div>

              <div class="col col-md-2">
                    <select id="filter_rec_c" class="form-control table_filter" data-col_num="9" title="">
                        <option value="">Ручной ввод номера</option>
                        <option value="1">Да</option>
                    </select>
                </div>

            </div>
            <div class="row" style="padding-top:5px;">
                  <div class="col col-md-2">
                    <select id="filter_client" title="Поиск по клиенту" data-col_num="5" class="form-control table_filter input-md">
                        <option value="">Клиент</option>
                        {% for c in clients %}
                            <option value="{{ c.id }}">{{ c.Name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col col-md-1">
                    <select id="filter_foot" class="form-control table_filter" data-col_num="7" title="">
                        <option value="">Фут</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                    </select>
                </div>
                <div class="col col-md-2">
                    <select id="filter_driver" title="Поиск по водителю" data-col_num="3" class="form-control table_filter input-md">
                        <option value="">Водитель</option>
                        {% for d in drivers %}
                            <option value="{{ d.id }}">{{ d|get_driver_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col col-md-2">
                    <select id="filter_truck" title="Поиск по авто" data-col_num="4" class="form-control table_filter input-md">
                        <option value="">Авто</option>
                        {% for i in trucks %}
                            <option value="{{ i.id }}">{{ i.number }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col col-md-2">
                    <select id="filter_district" class="form-control table_filter" data-col_num="13" title="Поиск по району">
                        <option value="">Район</option>
                        {% for d in directions %}
                        <option value="{{ d }}">{{ d }}</option>
                        {% endfor %}
                        <option value="Межгород">Межгород</option>
                        <option value="Пригород">Пригород</option>
                    </select>
                </div>
                 <div class="col col-md-2">
                    <select id="filter_district1" class="form-control table_filter" data-col_num="13">
                        <option value="" selected>Межгород</option>
                        {% for d in country_directions %}
                        <option value="{{ d }}">{{ d }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col col-md-1">
                    <select id="filter_dz" class="form-control table_filter" data-col_num="10" title="Поиск по зоне диспетчеризации">
                        <option value="">Зона</option>
                        <option value="2">Клещиха</option>
                        <option value="1">Восток</option>
                    </select>
                </div>
                <div class="col col-md-1" style="display:none;">
                    <form id="act_form" action="{% url 'get_act_report' %}" method="POST">
                    </form>  

                </div>
            </div>
        </div>

        <div class="">
            <table class="table table-bordered table-striped table-hover tms_dt" id="RequestList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>№</th>
                        <th>Статус</th>
                        <th>Статус груза</th>
                        <th>Дата</th>
                        <th>Водитель</th>
                        <th>Машина</th>
                        <th>Клиент</th>
                        <th>Контейнер</th>
                        <th>Контейнер факт</th>
                        <th>Фут</th>
                        <th>Вес</th>
                        <th>Опер.</th>
                        <th>Зона</th>
                        <th>Забор</th>
                        <th>Адрес</th>
                        <th>Район</th>
                        <th>Переезд1</th>
                        <th>Переезд2</th>
                        <th>Сдача</th>
                        <th>Станция назначения</th>
                        <th>Примечание</th>
                        <th>Доп. затраты</th>
                        <th>Платон</th>
                        <th>Начало операции</th>
                        <th>Конец операции</th>
                        <th>Ставка, руб</th>
                        <th>Экспедирование водитель</th>
                        <th>Зачистка водитель</th>
                        <th>Простой, мин</th>
                        <th>Цена, мин</th>
                        <th>Простой, руб</th>
                        <th>Переезд</th>
                        <th>Итог з/п</th>
                        <th>Ставка, руб</th>
                        <th>Экспедирование клиент</th>
                        <th>Зачистка клиент</th>
                        <th>Простой, мин</th>
                        <th>Цена, мин</th>
                        <th>Простой, руб</th>
                        <th>Переезд</th>
                        <th>Сумма</th>
                        <th>№ акта</th>
                        <th>Дата оплаты</th>
                        <th>Прибыль</th>
                        <th>Менеджер</th>
                        <th>Менеджер СК</th>
                        <th>Документы</th>
                        <th>Документы клиента</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>№</th>
                        <th>Статус</th>
                        <th>Статус груза</th>
                        <th>Дата</th>
                        <th>Водитель</th>
                        <th>Машина</th>
                        <th>Клиент</th>
                        <th>Контейнер</th>
                        <th>Контейнер факт</th>
                        <th>Фут</th>
                        <th>Вес</th>
                        <th>Опер.</th>
                        <th>Зона</th>
                        <th>Забор</th>
                        <th>Адрес</th>
                        <th>Район</th>
                        <th>Переезд1</th>
                        <th>Переезд2</th>
                        <th>Сдача</th>
                        <th>Станция назначения</th>
                        <th>Примечание</th>
                        <th>Доп. затраты</th>
                        <th>Платон</th>
                        <th>Начало операции</th>
                        <th>Конец операции</th>
                        <th>Ставка, руб</th>
                        <th>Экспедирование водитель</th>
                        <th>Зачистка водитель</th>
                        <th>Простой, мин</th>
                        <th>Цена, мин</th>
                        <th>Простой, руб</th>
                        <th>Переезд</th>
                        <th>Итог з/п</th>
                        <th>Ставка, руб</th>
                        <th>Экспедирование клиент</th>
                        <th>Зачистка клиент</th>
                        <!--<th>Пломба клиент</th>-->
                        <th>Простой, мин</th>
                        <th>Цена, мин</th>
                        <th>Простой, руб</th>
                        <th>Переезд</th>
                        <th>Сумма</th>
                        <th>№ акта</th>
                        <th>Дата оплаты</th>
                        <th>Прибыль</th>
                        <th>Менеджер</th>
                        <th>Менеджер СК</th>
                        <th>Документы</th>
                        <th>Документы клиента</th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="modal fade" id="Request" role="dialog" aria-labelledby="RequestModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="RequestModalLabel">Расчет заявки №<span id="req_num_title"></span></h4>
                    </div>
                    <div class="modal-body well bs-component">
                        <form id="RequestForm">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <input type="hidden" name="Status" id="id_Status">
                            <div class="row">
                              <div class="form-group col-md-3">
                                  {{ form.operation_date_begin|label_with_classes:"control-label" }}
                                  <div class='input-group date picker' id='timepicker1'>
                                      {{ form.operation_date_begin|input_with_classes:"form-control" }}
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-time"></span>
                                      </span>
                                  </div>
                              </div>
                              <div class="form-group col-md-3">
                                  {{ form.operation_date_end|label_with_classes:"control-label" }}
                                  <div class='input-group date picker' id='timepicker2'>
                                      {{ form.operation_date_end|input_with_classes:"form-control" }}
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-time"></span>
                                      </span>
                                  </div>
                              </div>
                                {% if is_dispatcher_v is False%}
                                <div class="form-group col-md-3">
                                    {{ form.additional_wastes|add_classes }}
                                </div>
                                <div class="form-group col-md-3">
                                    {{ form.platon|add_classes }}
                                </div>
                                {% endif %}
                            </div>

                            <div class="row" {{ hidden_prop }}>
                                <div class="form-header">Расчет з/п</div>
                                <div class="form-group col-md-2">
                                    {{ form.salary_rate|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.salary_idle_minutes|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.salary_idle_price|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.salary_idle_cost|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.salary_transfer|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.salary_total|add_classes }}
                                </div>
                            </div>
                            <div class="row" {{ hidden_prop }}>
                                <div class="form-header">Расчет для клиента</div>
                                <div class="form-group col-md-2">
                                    {{ form.client_rate|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                      {{ form.client_idle_minutes|add_idle }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.client_idle_price|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.client_idle_cost|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.client_transfer|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.client_total|add_classes }}
                                </div>
                            </div>

                            <div class="row bill_row">
                                {% if is_dispatcher_v is False %}
                                <div class="form-group col-md-3">
                                    {{ form.bill_number|add_classes }}
                                </div>
                                <div class="form-group col-md-3">
                                    {{ form.payment_date|label_with_classes:"control-label" }}
                                    <div class='input-group date' id='datepicker'>
                                        {{ form.payment_date|input_with_classes:"form-control" }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="form-group col-md-3">
                                    {{ form.ContainerNum|add_classes }}
                                </div>
                                <div class="form-group col-md-3">
                                    {{ form.Weight|add_classes }}
                                </div>
                                <!--div class="form-group col-md-4">
                                    {{ form.profit|add_classes }}
                                </div-->
                            </div>

                            <!--AddServiceRow display none in css-->
                            <div class="row AddServiceRow">

                                <div class="form-group col-md-2">
                                    <label class="control-label">Услуга</label>
                                    <select name="service_code" class="form-control service_code_select" disabled>
                                        <option value="">---------</option>
                                        <option value="forwarding">Экспедирование</option>
                                        <option value="cleaning">Зачистка</option>
                                        <option value="stamp">Пломба</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-2">
                                    <label class="control-label">Единиц</label>
                                    <div class="input-group">
                                        <input type="number" name="quantity" value="0"
                                               class="form-control" disabled>
                                                 <a id="trash_btn" class="input-group-addon" href="#">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                 </a>
                                    </div>
                                </div>

                                <div class="form-group col-md-2">
                                    <label class="control-label">Ставка водитель</label>
                                    <input type="number" name="salary_price" value="0"
                                           class="form-control" disabled>
                                </div>

                                <div class="form-group col-md-2">
                                    <label class="control-label">Итого водитель</label>
                                    <input type="number" name="salary_total" value="0"
                                           class="form-control" disabled>
                                </div>

                                <div class="form-group col-md-2">
                                    <label class="control-label">Ставка клиент</label>
                                    <input type="number" name="client_price" value="0"
                                           class="form-control" disabled>
                                </div>

                                <div class="form-group col-md-2">
                                    <label class="control-label">Итого клиент</label>
                                    <div class="input-group">
                                        <input type="number" name="client_total" value="0"
                                               class="form-control client_total" disabled>
                                                 <a id="add_btn" class="input-group-addon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                 </a>
                                    </div>
                                </div>

                            </div>


                        </form>
                    </div>
                    
                    <div class="modal-footer">
                        {% if is_dispatcher_v is False %}
                        <button type="button" class="btn btn-default" id="AddServiceAppend">+ Доп услуга</button>
                        <button type="button" class="btn btn-info" id="btnRecalc">Пересчитать</button>
                        {% endif %}
                        <button type="button" class="btn btn-primary" id="btnSave">Сдан</button>
                        {% if is_dispatcher_v is False %}
                        <button type="button" class="btn btn-success" id="btnValidate">Проверено</button>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>




        <!--<div class="modal fade" id="AddServiceModal" role="dialog" aria-labelledby="AddServiceModalLabel">-->
            <!--<div class="modal-dialog modal-lg" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                                <!--aria-hidden="true">&times;</span></button>-->
                        <!--<h4 class="modal-title" id="AddServiceLabel">Доп услуги</h4>-->
                    <!--</div>-->
                    <!--<div class="modal-body well bs-component">-->
                        <!--<form id="AddServiceForm">-->
                            <!---->
                        <!--</form>-->
                    <!--</div>-->

                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSaveAddService">Сохранить</button>-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->




        <div class="modal fade" id="AppStatusHistory" role="dialog" aria-labelledby="AppStatusHistoryLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    </div><!-- /.container -->




{% endblock %}

{% block js %}
    <script>
        var user_visible_fields = {{ table_fields|safe }};
        var user_roles = {{ user_roles|safe }};
        var is_client = {{ is_client }};
        var hide_act_buttons = {{ hide_act_buttons }};
        var hide_colvis_buttons = {{ hide_colvis_buttons }};

    </script>
    <script src="{% static '/tms/js/download.min.js' %}"></script>
    <script src="{% static '/tms/js/dataTableSettings.min.js' %}"></script>
    <script src="{% static '/tms/js/attachments.min.js' %}"></script>
    <script src="{% static '/tms/js/manager-calc.min.js' %}"></script>
{% endblock %}
