{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}
{% block title %}Ввод заявок{% endblock %}

{% block css %}
    <link href="{% static '/tms/css/kladr.min.css' %}" rel="stylesheet">
    <link href="{% static '/tms/css/manager.min.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_manager %} active{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="page-header">
            <h3>Ввод заявок
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Request"
                        data-mode="new">Создать заявку
                </button>
            </h3>
        </div>

        <div class="well well-sm">
            <div class="row">
                <div class="col col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1"
                                aria-haspopup="true" aria-expanded="true">
                            Статус
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
                            style="padding-left: 10px; padding-bottom: 10px;">
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="1" checked>Заготовка</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="2" checked>Согласование</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="3" checked>Согласовано</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="4" checked>Выполняется</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="5" checked>Завершено</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status" value="8" checked>Сдан</label>
                            </li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status"
                                                               value="6" checked>Отказ</label></li>
                            <li class="checkbox"><label><input type="checkbox" name="filter_status"
                                                               value="7" checked>Отмена</label></li>
                            <li>
                                <button class="btn btn-default btn-sm" type="button" id="filter_status_apply">
                                    Применить
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-2">
                    <input type="text" class="form-control" id="date_range" title="Период"/>
                </div>
                <div class="col col-md-1">
                    <button class="btn btn-default btn-sm" type="button" id="btn_refresh">
                        <i class="fa fa-refresh"></i> Обновить
                    </button>
                </div>
                <div class="col col-md-2">
                    <select id="filter_client" title="Поиск по клиенту" class="form-control input-md">
                        <option value="">Клиент</option>
                        {% for c in clients %}
                            <option value="{{ c.id }}">{{ c.Name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col col-md-1">
                    <select id="filter_foot" class="form-control" title="">
                        <option value="">Фут</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                    </select>
                </div>

                <div class="col col-md-1">
                      <a href="{% url 'tn' %}?full=0" class="btn btn-default btn-sm report_button" disabled data-url="{% url 'tn' %}" type="button" id="tn_save">Накладная</a>
                </div>

                {% if APP_NAME == 'tms' %}
                <div class="col col-md-1">
                        <a href="{% url 'tn' %}?full=1" class="btn btn-default btn-sm report_button" disabled data-url="{% url 'tn' %}" type="button" id="tn2_save">Накладная CибКонт</a>
                  </div>
                {% endif %}

            </div>
        </div>

        <div class="">
            <table class="table table-bordered table-striped table-hover tms_dt" id="RequestList">
                <thead>
                <tr>
                    <th>#</th>
                    <th>№</th>
                    <th>Действие</th>
                    <th>Статус</th>
                    <th>Статус груза</th>
                    <th>Дата</th>
                    <th>Клиент</th>
                    <th>Грузополучатель</th>
                    <th>Наим. груза</th>
                    <th>Контейнер</th>
                    <th>Контейнер факт</th>
                    <th>Фут</th>
                    <th>Вес</th>
                    <th>Операция</th>
                    <th>Забор</th>
                    <th>Адрес</th>
                    <th>Район</th>
                    <th>Переезд</th>
                    <th>Сдача</th>
                    <th>№ машины</th>
                    <th>Водитель</th>
                    <th>Автовизит Забор</th>
                    <th>Автовизит Сдача</th>
                    <th>Согласовано</th>
                    <th>Ответственный</th>
                    <th>Примечание</th>
                    <th>Станция назначения</th>
                    <th>Менеджер</th>
                    <th>Документы</th>
                    <th>Документы Клиента</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot style="display:none">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="modal fade" id="Request" role="dialog" aria-labelledby="RequestModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="RequestModalLabel">Новая заявка</h4>
                    </div>
                    <div class="modal-body well bs-component">
                        <form id="RequestForm">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{ form.Manager.as_hidden }}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {{ form.Client|add_classes }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.Responsible|add_classes }}
                                </div>
                            </div>
                            <div class="row">
                                <!--<div class="form-group col-md-6">-->
                                    <!--{{ form.Customer|add_classes }}-->
                                <!--</div>-->
                                <div class="form-group col-md-6">
                                    {{ form.customer_new|add_classes }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.Proxy|add_classes }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {{ form.CargoName|add_classes }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.ContainerNum|add_classes }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6" data-district="#{{ form.District.id_for_label }}">
                                    {{ form.Address|label_with_classes:"control-label" }}
                                    {{ form.Address|input_with_classes:"form-control js-kladr-inline-input" }}
                                    <label class="ui-input__error" for="{{ form.Address.id_for_label }}">
                                        <span class="js-kladr-inline-error"></span>
                                    </label>
                                    <input type="hidden" class="js-kladr-inline-regname" name="adr1_region_name"
                                           value="">
                                    <input type="hidden" class="js-kladr-inline-regcode" name="adr1_region_code"
                                           value="">
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.District|add_classes }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6" data-district="#{{ form.RaywayCrDistrict.id_for_label }}">
                                    {{ form.RaywayCr|label_with_classes:"control-label" }}
                                    {{ form.RaywayCr|input_with_classes:"form-control js-kladr-inline-input" }}
                                    <label class="ui-input__error" for="{{ form.RaywayCr.id_for_label }}">
                                        <span class="js-kladr-inline-error"></span>
                                    </label>
                                    <input type="hidden" class="js-kladr-inline-regname" name="transfer1_region_name"
                                           value="">
                                    <input type="hidden" class="js-kladr-inline-regcode" name="transfer1_region_code"
                                           value="">
                                </div>

                                   <div class="form-group col-md-6">
                                    {{ form.RaywayCrDistrict|add_classes }}
                                </div>


                            </div>
                            <div class="row">
                                <div class="form-group col-md-6" data-district="#{{ form.RaywayCr2District.id_for_label }}">
                                    {{ form.RaywayCr2|label_with_classes:"control-label" }}
                                    {{ form.RaywayCr2|input_with_classes:"form-control js-kladr-inline-input" }}
                                    <label class="ui-input__error" for="{{ form.RaywayCr2.id_for_label }}">
                                        <span class="js-kladr-inline-error"></span>
                                    </label>
                                    <input type="hidden" class="js-kladr-inline-regname" name="transfer2_region_name"
                                           value="">
                                    <input type="hidden" class="js-kladr-inline-regcode" name="transfer2_region_code"
                                           value="">
                                </div>

                                 <div class="form-group col-md-6">
                                    {{ form.RaywayCr2District|add_classes }}
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    {{ form.ExportDate|label_with_classes:"control-label" }}
                                    <div class='input-group date' id='datepicker'>
                                        {{ form.ExportDate|input_with_classes:"form-control" }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ form.ExportTime|label_with_classes:"control-label" }}
                                                        <div class='input-group date' id='timepicker'>
                                                            {{ form.ExportTime|input_with_classes:"form-control" }}
                                                            <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-time"></span>
                                      </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.Operation|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.Weight|add_classes }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.Foot|add_classes }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {{ form.TerminalLoad|label_with_classes:"control-label" }}
                                    {{ form.TerminalLoad|input_with_classes:"form-control terminal-selector" }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.TerminalDeliver|label_with_classes:"control-label" }}
                                    {{ form.TerminalDeliver|input_with_classes:"form-control terminal-selector" }}
                                </div>
                            </div>
                            <div class="row hidden terminal-other">
                                <div class="form-group col-md-6">
                                    {{ form.AddressLoad|label_with_classes:"control-label" }}
                                    {{ form.AddressLoad|input_with_classes:"form-control js-kladr-inline-input" }}
                                    <label class="ui-input__error" for="{{ form.AddressLoad.id_for_label }}">
                                        <span class="js-kladr-inline-error"></span>
                                    </label>
                                    <input type="hidden" class="js-kladr-inline-regname" name="adr2_region_name"
                                           value="">
                                    <input type="hidden" class="js-kladr-inline-regcode" name="adr2_region_code"
                                           value="">
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.AddressDeliver|label_with_classes:"control-label" }}
                                    {{ form.AddressDeliver|input_with_classes:"form-control js-kladr-inline-input" }}
                                    <label class="ui-input__error" for="{{ form.AddressDeliver.id_for_label }}">
                                        <span class="js-kladr-inline-error"></span>
                                    </label>
                                    <input type="hidden" class="js-kladr-inline-regname" name="adr3_region_name"
                                           value="">
                                    <input type="hidden" class="js-kladr-inline-regcode" name="adr3_region_code"
                                           value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                      {{ form.dz|add_classes }}
                                </div>
                                <div class="form-group col-md-6">
                                      {{ form.destination_station|add_classes }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-8">
                                    {{ form.Comment|add_classes }}
                                </div>
                                <div class="form-group col-md-4">
                                    {{ form.cargo_manager|add_classes }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!--<form class="form-inline">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input style="width:300px" type="text" placeholder="Номер контейнера"
                                           name="ContainerNum" maxlength="300" class="form-control" id="new_c_num">
                                    <button type="button" class="btn btn-info" id="btnCopy">Копировать</button>
                                </div>
                            </div>
                        </form>-->
                        <button type="button" class="btn btn-success" id="btnSaveTemplate">Сохранить как шаблон</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Заполнить по шаблону <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for t in order_templates %}
                                    <li><a href="#" data-template_id="{{ t.id }}" class="order_template"> {{ t.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <button type="button" class="btn btn-primary" id="btnSave">Создать заявку</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="RequestCancel" tabindex="-1" role="dialog"
             aria-labelledby="RequestCancelModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="RequestCancelModalLabel">Отмена</h4>
                    </div>
                    <div class="modal-body">
                        <form id="RequestCancelForm">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="cancel_reason" class="control-label">Укажите причину отмены</label>
                                    <input type="text" class="form-control" id="cancel_reason">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                     <div class="cancel-form-errors"></div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="RequestCancelBtnSave">Отменить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade auto_visit_modal" id="AutoVisitEdit" tabindex="-1" role="dialog" aria-labelledby="AutoVisitEditModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="AutoVisitEditModalLabel">Автовизит Забор</h4>
                        </div>
                        <div class="modal-body">
                            <form id="AutoVisitEditForm">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="auto_visit_take_num" class="control-label">Номер</label>
                                        <input type="text" class="form-control" id='auto_visit_take_num' name="auto_visit_take_num">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="auto_visit_take_fact" class="control-label">Фактическое время</label>
                                        <div class="input-group timepicker">
                                                <input type="text" class="form-control timepicker" id='auto_visit_take_fact' name="auto_visit_take_fact">
                                                <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                        </div>                                    
                                    </div>
                                </div>
                                <hr class='long'></hr>
                                <h4 class="modal-title" id="AutoVisitEditModalLabel">Автовизит Cдача</h4>
                                <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="auto_visit_return_num" class="control-label">Номер</label>                                           
                                            <input type="text" class="form-control" id='auto_visit_return_num' name="auto_visit_return_num">                                                                                      
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="auto_visit_return_fact" class="control-label">Фактическое время</label>
                                            <div class="input-group timepicker">
                                                <input type="text" class="form-control" id='auto_visit_return_fact' name="auto_visit_return_fact">
                                                <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAutoVisitSave">Сохранить</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
           </div>

        <!-- driver history status-->
        <div class="modal fade" id="AppStatusHistory" role="dialog" aria-labelledby="AppStatusHistoryLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    </div><!-- /.container -->

{% endblock %}

{% block js %}
    <script src="{% static '/tms/js/dataTableSettings.min.js' %}"></script>
    <script src="{% static '/tms/js/kladr.min.js' %}"></script>
    <script src="{% static '/tms/js/common.min.js' %}"></script>
    <script src="{% static '/tms/js/attachments.min.js' %}"></script>
    <script src="{% static '/tms/js/manager.min.js' %}"></script>
{% endblock %}
