{% extends "TrackManager/layout.html" %}
{% load cust_tags %}

{% block title %}Отслеживание транспорта{% endblock %}

{% block css %}
<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://hst-api.wialon.com/wsdk/script/wialon.js"></script>
<link href="/static/tms/css/maps.min.css?1" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid" id="main_box">

  <div class="well well-sm" id="filter_box">
      <div class="row">
          <div class="col col-md-2">
            <select id="units" title="Выбрать авто" class="form-control input-md">
              <option value="0">Выбрать авто</option>
            </select>
        </div>
      </div>
  </div>

               <div id="map"></div>




</div>
{% endblock %}

{% block js %}
<script src="/static/tms/js/maps.min.js?1"></script>
{% endblock %}
