{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}


{% block title %}Ведомость{% endblock %}

{% block css %}
<link href="{% static '/tms/css/payments.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="page-header">
    <h3>Платежная ведомость</h3>
  </div>

  <div class="well well-sm">
      <div class="row">
          <div class="col col-md-2">
              <input type="text" class="form-control" id="date_range" title="Период"/>
          </div>
          <div class="col col-md-1">
              <select id="filter_dz" class="form-control" title="зона диспетчеризации">
                  <option value="">Зона</option>
                  <option value="2">Клещиха</option>
                  <option value="1">Восток</option>
              </select>
          </div>
      </div>
  </div>

  <div>
    <table class="table table-bordered table-striped table-hover" id="PaymentsTable">
      <thead>
        <tr>
            {% for header in table_headers %}
                <th>{{ header }} </th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

    <div class="modal fade" id="EditRow" role="dialog" aria-labelledby="EditRowModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="PaymentReportForm" action="{% url 'payments' %}" method="post">
                        {{ form.as_ul }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="btnSave">Сохранить</button>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block js %}
<script src="{% static '/tms/js/dataTableDefault.min.js' %}"></script>
<script src="{% static '/tms/js/dateRange.min.js' %}"></script>
<script src="{% static '/tms/js/payments.min.js' %}"></script>
{% endblock %}
