{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}
{% block title %}АРМ Отчеты{% endblock %}


{% block css %}
    <link href="{% static '/tms/css/reports.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="page-header">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#cars" data-toggle="tab" aria-expanded="true">Отчет по машинам</a></li>
        <li><a href="#clients" data-toggle="tab"aria-expanded="false" >Отчет по клиентам</a></li>
      </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="cars">
        <div class="well well-sm">
            <div class="row">
                <div class="col col-md-2">
                    <input type="text" class="form-control" id="date_range" title="Период">
                </div>
                <div class="col col-md-2">
                    <select id="filter_truck" title="Поиск по авто" class="form-control input-md">
                        <option value="">Авто</option>
                        {% for i in trucks %}
                            <option value="{{ i.id }}">{{ i.number }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col col-md-2">
                    <select id="filter_dz" class="form-control" title="Поиск по зоне диспетчеризации">
                        <option value="">Зона</option>
                        <option value="2">Клещиха</option>
                        <option value="1">Восток</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="" style="width: 600px;">
            <table class="table table-bordered table-striped table-hover" id="ReportsTable">
                <thead>
                    <tr>
                      <th>№</th>
                      <th>Зона</th>
                      <th>№&nbsp;авто</th>
                      <th>Рейсов</th>
                      <th>Выручка</th>
                      <th>ЗП</th>
                      <th>Прибыль</th>                  
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                      <th>№</th>
                      <th>Зона</th>
                      <th>№&nbsp;авто</th>
                      <th>Рейсов</th>
                      <th>Выручка</th>
                      <th>ЗП</th>
                      <th>Прибыль</th> 
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="clients">
            <div class="well well-sm">
                    <div class="row">
                        <div class="col col-md-1">
                            <select id="filter_year" title="Выбор года" class="form-control input-md">
                                <option value="">Год</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020" selected="selected">2020</option>
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <select id="filter_client" title="Поиск по клиенту" class="form-control input-md">
                                <option value="">Клиент</option>
                                {% for i in clients %}
                                    <option value="{{ i.id }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="">
                    <table class="table table-bordered table-striped table-hover" id="ClientsTable">
                        <thead>
                            <tr>
                              <th>№</th>
                              <th>Клиент</th>     
                              <th>Фут</th>  
                                {% for m in mon %}
                                <th>{{ m }}</th>
                                {% endfor %}  
                                <th>Итого</th>                                  
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
    </div>
</div>

</div><!-- /.container -->
{% endblock %}

{% block js %}
<script src="{% static '/tms/js/dataTableDefault.min.js' %}"></script>
<script src="{% static '/tms/js/reports.min.js' %}"></script>
{% endblock %}
