{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}

{% block title %} Табель {% endblock %}

{% block css %}
<!--link href="/static/tms/css/dispatcher.min.css" rel="stylesheet"-->
<style>
#DriverTable .selected, #DriverTable .selected > td {
    background-color: #ddce0a;
}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="page-header">
    <h3>Табель</h3>
  </div>

  <div class="well well-sm">
      <div class="row">
          <div class="col col-md-2">
              <input type="text" class="form-control" id="date_range" title="Период"/>
          </div>
          <!--div class="col col-md-1">
                <a href="{% url 'report_sal' %}" class="btn btn-primary btn-sm" type="button" class="btn btn-primary">В Excel</a>
          </div-->
          <div class="col col-md-1">
              <select id="filter_dz" class="form-control" title="Поиск по зоне диспетчеризации">
                  <option value="">Зона</option>
                  <option value="2">Клещиха</option>
                  <option value="1">Восток</option>
              </select>
          </div>
          <div class="col col-md-2">
                    <select id="filter_driver" title="Поиск по водителю" class="form-control input-md">
                        <option value="">Водитель</option>
                        {% for d in drivers %}
                            <option value="{{ d.id }}">{{ d|get_driver_name }}</option>
                        {% endfor %}
                    </select>
          </div>
      </div>
  </div>

  <div class="">
    <table class="table table-bordered table-striped table-hover" id="DriverTable">
      <thead>
        <tr>
          {% for i in range %}
          <th>{{ i }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>


</div><!-- /.container -->
{% endblock %}

{% block js %}
<script src="{% static '/tms/js/salary.min.js' %}"></script>
{% endblock %}
