{% extends "TrackManager/layout.html" %}
{% load cust_tags %}
{% load static %}
{% block title %}Работа машин{% endblock %}

{% block css %}
    <link href="{% static '/tms/css/schedule.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="page-header">
            <h3>Работа машин</h3>
        </div>
        <div class="well well-sm">
            <div class="row">
                <div class="col col-md-2">
                    <input type="text" class="form-control" id="date_range" title="Период">
                </div>
                <div class="col col-md-2">
                    <select id="filter_driver" title="Поиск по водителю" class="form-control input-md">
                        <option value="">Водитель</option>
                        {% for d in drivers %}
                            <option value="{{ d.id }}">{{ d|get_driver_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col col-md-1">
                    <select id="filter_truck" title="Поиск по авто" class="form-control input-md">
                        <option value="">Авто</option>
                        {% for i in trucks %}
                            <option value="{{ i.id }}">{{ i.number }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col col-md-1">
                    <select id="filter_dz" class="form-control" title="Поиск по зоне диспетчеризации">
                        <option value="">Зона</option>
                        <option value="2">Клещиха</option>
                        <option value="1">Восток</option>
                    </select>
                </div>
                <div class="col col-md-1">
                    <select id="filter_foot" class="form-control" title=""><option value="">Фут</option><option value="20">20</option><option value="40">40</option></select>
                </div>
                <div class="col col-md-1">
                    <select id="filter_status" class="form-control" title="Поиск по статусу">
                        <option value="">Статус</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <!--<option value="4">4</option>-->
                        <!--<option value="5">5</option>-->
                        <option value="Б">Болен</option>
                        <option value="Р">Ремонт</option>
                        <option value="О">Отпуск</option>
                        <!--<option value="М">Межгород</option>-->
                        <option value="Н">Не план.</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="">
            <table class="table table-bordered table-striped table-hover" id="ScheduleTable">
                <thead>
                    <tr>
                        {% for i in range %}
                            <th>{{ i }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                    {% for i in range %}
                        <th>{{ i }}</th>
                    {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="modal fade" id="AddWork" tabindex="-1" role="dialog"
             aria-labelledby="AddWorkModalLabel">
            <div class="modal-dialog modal-md-8" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="RequestCancelModalLabel">Дополнительная работа</h4>
                    </div>
                    <div class="modal-body">
                        <form id="AddWorkForm" method="post" action="/tms/add_work">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <select name="Operation" class="form-control" id="id_Operation" title="">
                                      {% for sc in schedule_choices %}
                                          <option value="{{ sc.0 }}">{{ sc.1 }}</option>
                                      {% endfor %}
                                        <!--option value="Б">Больничный</option>
                                        <option value="Р">Ремонт</option>
                                        <option value="О">Отпуск</option>
                                        <option value="М">Межгород</option>
                                        <option value="Н">Не планировать</option-->
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="comment" maxlength="300" class="form-control"
                                           placeholder="Введите комментарий">
                                </div>
                            </div>
                        </form>
                        <button role="button" type="submit" class="btn btn-primary" id="AddWorkSave">Сохранить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- /.container -->
{% endblock %}

{% block js %}
    <script src="{% static '/tms/js/schedule.min.js' %}"></script>
{% endblock %}
