{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
    </script>
    <script src="{% static '/tms/js/ya_maps.min.js' %}"></script>
</head>

<body>
    <div id="map" style="width: 600px; height: 400px"></div>
</body>

</html>