{% extends "landing/layout.html" %}
{% load static %}


{% block content %}

<div id="inSlider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption" style="padding-top:80px;">
                    <h1>FoxT Logistic<br>
                    </h1>
                    <p>Цифровые решения для перевозок</p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>

    </div>
</div>


<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Управление<br>
                заказами</h2>
            <p>Платформа для клиентов, контрагентов и руководителей, оптимизирует бизнес-процесс, позволяет быстро
                внедрять важные изменения и отслеживать итоговый результат.</p>
            <p><a class="navy-link" href="#contact" role="button">Подробнее »</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Мобильное приложение</h2>
            <p>Оснастите сотрудников новым инструментом в максимально короткие сроки и получите еще больше контроля,
                благодаря технологиям отслеживания, распознавания и оповещений.</p>
            <p><a class="navy-link" href="#contact" role="button">Подробнее »</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Сервисы <br> для партнеров</h2>
            <p>Развивайте свою ИТ-систему без дополнительных затрат. Наш API поможет получить информацию от других
                участников и синхронизировать процесс с внутренними системами.</p>
            <p><a class="navy-link" href="#contact" role="button">Подробнее »</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Продвинутая аналитика</h2>
            <p>Извлекайте пользу из ваших данных и находите новые точки роста бизнеса. Интеграция с продуктами
                BI и Машинное Обучение позволят быть на шаг впереди конкурентов.</p>
            <p><a class="navy-link" href="#contact" role="button">Подробнее »</a></p>
        </div>
    </div>
</section>


<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Свяжитесь с нами:</h1>
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <!--<div class="col-lg-3 ">-->
            <!--<address>-->
            <!--<strong><span class="navy">Company name, Inc.</span></strong><br>-->
            <!--795 Folsom Ave, Suite 600<br>-->
            <!--San Francisco, CA 94107<br>-->
            <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
            <!--</address>-->
            <!--</div>-->
            <div class="col-lg-6">
                <form method="post">
                    <p>{{ feedback_message }}</p>
                    <div class="form-group row">
                        <div class="col-lg-10">
                            <input type="email" placeholder="Email" name="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-10">
                            <textarea placeholder="Ваш вопрос" rows="10" name="text" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-sm btn-white" type="submit">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p><strong>© 2017-2020 FoxT Logistic</strong>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}