{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FoxT Logistic</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/landing/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="{% static '/landing/animate.css' %}" rel="stylesheet">
    <link href="{% static '/landing/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '/landing/style.css' %}" rel="stylesheet">

    {% block style %}
    {% endblock %}
</head>

<body id="page-top" class="landing-page no-skin-config pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99"
         style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link page-scroll active" href="{% url 'landing' %}#page-top">Главная</a></li>
                    <li><a class="nav-link page-scroll" href="{% url 'landing_search' %}">Отслеживание</a></li>
                    <li><a class="nav-link page-scroll" href="{% url 'landing' %}#contact">Контакты</a></li>
                    <li><a class="nav-link page-scroll" href="{% url 'login' %}">Вход</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

{% block content %}


{% endblock %}

<!-- Mainly scripts -->
<script src="{% static '/landing/jquery-3.1.1.min.js' %} "></script>
<script src="{% static '/landing/page.js' %} "></script>

</body>
</html>