{% extends "landing/layout.html" %}
{% load static %}


{% block style %}
<style type="text/css">

.landing-page .nav li a {
  color: #676a6c !important;
}

.borderless td, .borderless th {
    border: none !important;
}
</style>
{% endblock %}


{% block content %}

<section class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Узнайте статус перевозки:</h1>
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <div class="col-lg-10">
                <form method="post">
                    <div class="input-group">
                        <input type="text" name="cn" placeholder="Номер контейнера" class="form-control">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary1">Найти</button>
                        </span>
                    </div>
                </form>

            </div>
        </div>
         {% if order %}
                <div class="row m-b-lg justify-content-center">
                    <div class="col-lg-10">
                        <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Результаты поиска</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table borderless">
                            <tbody>
                            <tr>
                                <td>Номер контейнера:</td>
                                <td>{{ order.ContainerNum }}</td>
                            </tr>
                             <tr>
                                <td>Наименование:</td>
                                <td>{{ order.CargoName }}</td>
                            </tr>
                            <tr>
                                <td>Вес:</td>
                                <td>{{ order.Weight|floatformat:0 }} кг.</td>
                            </tr>
                            <tr>
                                <td>Срок доставки: </td>
                                <td>{{ order.ExportDate|date:"d.m.Y"}}</td>
                            </tr>
                            <tr>
                                <td>Статус: </td>
                                <td>{{  driver_action }}</td>
                            </tr>
                           </tbody>
                        </table>
                    </div>
                </div>
                    </div>
                </div>
        {% endif %}
    </div>
</section>

{% endblock %}

