{% extends "TrackManager/layout.html" %}

{% block title %}Выход из системы{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Спасибо, что воспользовались системой</h4>
                        <a href="{% url "login" %}">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
