{% extends "TrackManager/layout.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Пожалуйста, войдите в систему</h3>
                    </div>
                    <div class="panel-body">
                      {% if form.errors %}
                      <p>Логин или пароль не верны, повторите попытку или обратитесь к администратору</p>
                      {% endif %}
                        <form role="form" method="post" action="{% url "login" %}">
                        {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Логин" name="username" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Пароль" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Запомнить меня
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Войти" />
                                <input type="hidden" name="next" value="{% url "manager" %}">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
